<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <!-- Exclude by namespace -->
          <Exclude>
            [*]*Designer.cs
          </Exclude>

          <!-- Exclude by file path -->
          <ExcludeByFile>
            **/Migrations/*.cs
          </ExcludeByFile>

          <!-- Include only main project namespaces -->
          <Include>
            [*]TestApp.Domain.*
            [*]TestApp.Application.*
            [*]TestApp.Infrastructure.*
            [*]TestApp.WebApi.*
          </Include>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
